In [1]:
import numpy as np
import pandas as pd
import sklearn 
import glob

In [2]:
df = pd.read_csv('Escondido 2021 sunrise and sunset data/2021 Sunrise Sunset data full.csv')

In [3]:
df = df[df['Year'] == 2021]

In [4]:
df['Daylight Savings'] = 0

In [5]:
df['Date'] = pd.to_datetime(df[['Year', 'Month', 'Day']])

In [6]:
df

,Year,Month,Day,Age of Moon,Sunrise,Sunculm,Sunset,Constellation,Moonrise,Moonculm,Moonset,Daylight Savings,Date
0,2021,1,1,19 days,06:49,11:50,16:52,Sagittarius,19:30,01:48,09:02,0,2021-01-01
1,2021,1,3,20 days,06:49,11:51,16:52,Sagittarius,20:35,02:40,09:43,0,2021-01-03
2,2021,1,4,21 days,06:50,11:51,16:53,Sagittarius,21:39,03:31,10:20,0,2021-01-04
3,2021,1,5,22 days,06:50,11:52,16:54,Sagittarius,22:44,04:21,10:53,0,2021-01-05
4,2021,1,6,23 days,06:50,11:52,16:55,Sagittarius,23:49,05:09,11:26,0,2021-01-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,2021,12,27,23 days,06:47,11:47,16:47,Sagittarius,23:59,05:27,11:48,0,2021-12-27
347,2021,12,28,24 days,06:48,11:48,16:48,Sagittarius,--:--,06:12,12:17,0,2021-12-28
348,2021,12,29,25 days,06:48,11:48,16:49,Sagittarius,01:02,06:59,12:48,0,2021-12-29
349,2021,12,30,26 days,06:48,11:49,16:49,Sagittarius,02:09,07:50,13:23,0,2021-12-30
350,2021,12,31,28 days,06:49,11:50,16:51,Sagittarius,04:33,09:44,14:51,0,2021-12-31

In [7]:
import datetime
from datetime import date, time, timedelta
from datetime import datetime

In [8]:
df.loc[('2021-03-14' <= df['Date']) & (df['Date'] <= '2021-11-07'), 'Daylight Savings'] = 1

In [9]:
df = df.drop('Date', axis = 1)

In [10]:
df

,Year,Month,Day,Age of Moon,Sunrise,Sunculm,Sunset,Constellation,Moonrise,Moonculm,Moonset,Daylight Savings
0,2021,1,1,19 days,06:49,11:50,16:52,Sagittarius,19:30,01:48,09:02,0
1,2021,1,3,20 days,06:49,11:51,16:52,Sagittarius,20:35,02:40,09:43,0
2,2021,1,4,21 days,06:50,11:51,16:53,Sagittarius,21:39,03:31,10:20,0
3,2021,1,5,22 days,06:50,11:52,16:54,Sagittarius,22:44,04:21,10:53,0
4,2021,1,6,23 days,06:50,11:52,16:55,Sagittarius,23:49,05:09,11:26,0
...,...,...,...,...,...,...,...,...,...,...,...,...
346,2021,12,27,23 days,06:47,11:47,16:47,Sagittarius,23:59,05:27,11:48,0
347,2021,12,28,24 days,06:48,11:48,16:48,Sagittarius,--:--,06:12,12:17,0
348,2021,12,29,25 days,06:48,11:48,16:49,Sagittarius,01:02,06:59,12:48,0
349,2021,12,30,26 days,06:48,11:49,16:49,Sagittarius,02:09,07:50,13:23,0
350,2021,12,31,28 days,06:49,11:50,16:51,Sagittarius,04:33,09:44,14:51,0

In [11]:
df['Sunrise'].map(lambda x: x.split(':'))

0      [06, 49]
1      [06, 49]
2      [06, 50]
3      [06, 50]
4      [06, 50]
         ...
346    [06, 47]
347    [06, 48]
348    [06, 48]
349    [06, 48]
350    [06, 49]
Name: Sunrise, Length: 351, dtype: object

In [12]:
df = df.drop(['Moonrise', 'Moonculm', 'Moonset'], axis = 1)

In [13]:
df.columns

Index(['Year', 'Month', 'Day', 'Age of Moon', 'Sunrise', 'Sunculm', 'Sunset',
       'Constellation', 'Daylight Savings'],
      dtype='object')

In [14]:
for w in ['Sunrise', 'Sunculm', 'Sunset']:
    df[w] = df.apply(lambda x: datetime(year = x['Year'], month = x['Month'], day = x['Day'], hour = int(x[w].split(':')[0]), minute = int(x[w].split(':')[1]), second = 0), axis = 1)

In [15]:
for w in ['Sunrise', 'Sunculm', 'Sunset']:
    df.loc[df['Daylight Savings'] == 1, w] = df.loc[df['Daylight Savings'] == 1, w] - timedelta(hours = 1)

In [16]:
df

,Year,Month,Day,Age of Moon,Sunrise,Sunculm,Sunset,Constellation,Daylight Savings
0,2021,1,1,19 days,2021-01-01 06:49:00,2021-01-01 11:50:00,2021-01-01 16:52:00,Sagittarius,0
1,2021,1,3,20 days,2021-01-03 06:49:00,2021-01-03 11:51:00,2021-01-03 16:52:00,Sagittarius,0
2,2021,1,4,21 days,2021-01-04 06:50:00,2021-01-04 11:51:00,2021-01-04 16:53:00,Sagittarius,0
3,2021,1,5,22 days,2021-01-05 06:50:00,2021-01-05 11:52:00,2021-01-05 16:54:00,Sagittarius,0
4,2021,1,6,23 days,2021-01-06 06:50:00,2021-01-06 11:52:00,2021-01-06 16:55:00,Sagittarius,0
...,...,...,...,...,...,...,...,...,...
346,2021,12,27,23 days,2021-12-27 06:47:00,2021-12-27 11:47:00,2021-12-27 16:47:00,Sagittarius,0
347,2021,12,28,24 days,2021-12-28 06:48:00,2021-12-28 11:48:00,2021-12-28 16:48:00,Sagittarius,0
348,2021,12,29,25 days,2021-12-29 06:48:00,2021-12-29 11:48:00,2021-12-29 16:49:00,Sagittarius,0
349,2021,12,30,26 days,2021-12-30 06:48:00,2021-12-30 11:49:00,2021-12-30 16:49:00,Sagittarius,0
350,2021,12,31,28 days,2021-12-31 06:49:00,2021-12-31 11:50:00,2021-12-31 16:51:00,Sagittarius,0

In [17]:
df['Sun-up time length'] = df['Sunset']  - df['Sunrise']

In [18]:
df['Start of midday'] = df['Sunrise'] + 2*df['Sun-up time length']/5
df['End of midday'] = df['Sunrise'] + 3*df['Sun-up time length']/5

In [19]:
df[['Year', 'Month', 'Day', 'Start of midday', 'End of midday']]

     Year  Month  Day     Start of midday       End of midday
0    2021      1    1 2021-01-01 10:50:12 2021-01-01 12:50:48
1    2021      1    3 2021-01-03 10:50:12 2021-01-03 12:50:48
2    2021      1    4 2021-01-04 10:51:12 2021-01-04 12:51:48
3    2021      1    5 2021-01-05 10:51:36 2021-01-05 12:52:24
4    2021      1    6 2021-01-06 10:52:00 2021-01-06 12:53:00
..    ...    ...  ...                 ...                 ...
346  2021     12   27 2021-12-27 10:47:00 2021-12-27 12:47:00
347  2021     12   28 2021-12-28 10:48:00 2021-12-28 12:48:00
348  2021     12   29 2021-12-29 10:48:24 2021-12-29 12:48:36
349  2021     12   30 2021-12-30 10:48:24 2021-12-30 12:48:36
350  2021     12   31 2021-12-31 10:49:48 2021-12-31 12:50:12

[351 rows x 5 columns]

In [20]:
df['Start of midday'].map(lambda x: time(hour = x.hour, minute = x.minute)).max(), df['End of midday'].map(lambda x: time(hour = x.hour, minute = x.minute)).min()

(datetime.time(10, 57), datetime.time(12, 8))